[Unit]
Description=Iptabes shell script
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/sbin/iptables.sh start
ExecStop=/bin/bash /usr/sbin/iptables.sh stop
ExecRestart=/bin/bash /usr/sbin/iptables.sh restart
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
